::-webkit-scrollbar {
  display: none; // 隐藏滚动条
}

html {
  font-family: Consolas, Avenir, Helvetica, Arial, sans-serif; // 字体
  font-size: 14px; // 全局字号
}

body {
  margin: 0; // 清空内边距
  padding: 0; // 清空外边距
}
